@import 'tailwindcss';

:root {
  --background: #121212;
  --foreground: #ffffff;
  --accent-red: #aa0000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-red: var(--accent-red);
  --font-header: var(--font-press-start);
  --font-body: var(--font-space-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
